/*Author: Glenn Zheng 31/07/2018 */
/*purpose of demo the styling skill, try not to use bootstrap or any css library*/
.weather-widget {    
    color: #222;
}

.weather-widget .left-side {
    width: 300px;
}

.weather-widget .left-side .config {
    margin: 20px;
    padding: 30px;
}

.weather-widget .left-side .config .w-control {
    margin-top: 8px;
}

.weather-widget .left-side .config .w-control-section {
    float: left;
}

.weather-widget .left-side .config .w-control-gap1 {
    margin-right: 80px;
}

.weather-widget .left-side .config .w-control-gap2 {
    margin-right: 75px;
}

.weather-widget .left-side .config input[type="text"].w-textbox,
.weather-widget .left-side .config input[type="text"].w-textbox:focus {
    display: block;
    border: solid 1px #ccc;
    border-radius: 4px;
    height: 38px;
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    outline-width: 0;    
}

.weather-widget .left-side .config input[type="text"].w-textbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
}
.weather-widget .left-side .config input[type="text"].w-textbox::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}
.weather-widget .left-side .config input[type="text"].w-textbox:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}
.weather-widget .left-side .config input[type="text"].w-textbox:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

.weather-widget .left-side .config .w-row {
    margin-bottom: 20px;
}

.weather-widget hr {
    border: solid 4px #1976D2;
    margin-top: 0;
    margin-bottom: 6px;
    min-width: 380px;
}

.weather-widget .wbox {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px #ccc;    
}

.weather-widget .seperator:after {
    content: "";
    background-color: #ccc;
    position: absolute;
    width: 1px;
    top: 15%;
    bottom: 10%;
    left:50%;
    height: 200px;
    display: block;
}

.weather-widget .right-side {
    width: 300px;
}

.weather-widget .right-side .tile {
    background-color: #fff;
    width: 285px;
    height: 218px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 5px 15px 1px #909090; 
    box-shadow: 1px 5px 15px 1px #909090;
    padding: 30px;
    margin: 20px;
}

.weather-widget .right-side .tile .tile-content {
    margin-top: 40px;
}

.weather-widget .right-side .tile .weather-icon {
    width: 80px;
    height: 80px;
}

.weather-widget .right-side .tile h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.weather-widget .right-side .tile .degree{
    font-weight: 700;
}

.weather-widget .right-side .tile .degree>div:first-child{
    float: left;
    font-size: 48px;
    font-weight: bold;
}

.weather-widget .right-side .tile .degree>div:nth-child(2) {
    float: left;
    font-size: 22px;
    padding-left: 2px;
    padding-top: 7px;
}

.weather-widget .right-side .tile .weather {
    font-size: 13px;
    font-weight: normal;
}

.weather-widget .right-side .tile .weather>span:first-child {
    font-weight: bold;
    padding-right: 4px;
}

/*max-width is set based on outter div width, it can be overrided*/
@media only screen and (max-width: 950px) {
    .weather-widget .wbox {
        min-width: 380px;
    }

    .weather-widget .seperator:after {
        display: none;
        visibility: hidden;
    }
    .weather-widget {    
        margin-bottom: 20px;
    }
}