.bg-grey {
  background-color: #F5F5F5;
}

.clearboth {
  clear: both;
}

.wflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
}

.wflex>div {
  flex: 1 0 50%;
  min-width: 50px;
}

.wflex>div.section {
  flex: 1 0 50%;
  min-width: 380px;
}


#root {
  margin-top: 20px;
}

.div-center {
  margin: auto;
  width: 80%;
}
